pipeline/Incremental Copy.json
{
	"name": "Incremental Copy",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT MAX(CUST_EFF_FROM) AS CUST_EFF_FROM FROM dbo.customers;\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Connect_SqlPoolTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM scott.customers WHERE cust_eff_from > to_date(substr(replace('@{activity('Lookup1').output.firstRow.cust_eff_from}','-'),1,8),'yyyymmdd');",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlPoolSink",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "StagingBlob",
							"type": "LinkedServiceReference"
						},
						"path": "stage"
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Connect_OracleTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Connect_SqlPoolTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-26T04:36:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}